body {
    margin: 0;
    font-family: sans-serif;
    /* background: linear-gradient(135deg, #667eea, #764ba2); */

    background-image: url("/public/snowman_txt.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: black;
    margin-bottom: 24px;
}

.login-box {
    width: 320px;
    padding: 32px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    color: white;
    text-align: center;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.login-box button {
    width: 100%;
    margin-top: 18px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #ffffff;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.login-box button:hover {
    transform: translateY(-2px);
}